.nav-items {
    display: flex;
    justify-content: flex-end;
    width: auto;
    font-family: sans-serif;
    /* border: 1px solid blue; */
}

.nav-item {
    color: #fb8500;
    margin: 10px;
    /* border: 1px solid green; */
}